@page "/reportes"
@inject IAlquilerService DB

<h3>Reportes</h3>

<br />
<br />

<h3>Listado de vehículos</h3>



<h3>Listado de beneficios por Vehiculos</h3>
<h3>Clientes que deben</h3>
<h3>Ver vehículos en Mapa</h3>

@code {

}
